# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
/Cell.class
/Chromosome.class
/ChromosomeCloner.class
/Cytosome.class
/CytosomeDivider.class
/DigestiveOrgan.class
/DuplicationStarter.class
/DuplicationStopper.class
/Emitter.class
/Energy.class
/Enzyme.class
/ExtensibleEnum.class
/Food.class
/Gene.class
/Heat.class
/Light.class
/LightEmitter.class
/LightPerceiver.class
/Location.class
/Membrane.class
/MembraneDestroyer.class
/MembraneDivider.class
/MotionOrgan.class
/MotionStarter.class
/Organ.class
/OrganBuilderStopper.class
/Perceiver.class
/Protein.class
/Rybosome.class
/Shape.class
/Size.class
/WaterEnvironment.class
